@{
    ViewData["Title"] = "Home Page";
}

<!-- <div id="app">
     {{ message }}

     <button v-on:click="holis">Get</button>
      <div> {{ saco }} </div>
<span v-if="error">Oh Noooo!, Hay error :(</span>
<div v-else class="alert alert-primary" role="alert">

</div>

    </div>-->
<div id="app"></div>
